.heroSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-top: 4rem;
}
.left{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.left h1{
  color: white;
  max-width: 50rem;
}
.left h1 span{
  color: var(--primary-color);
}
.left p{
  font-size: 1.125rem;
  color: var(--gray);
  max-width: 600px;
}
.left a{
  width: fit-content;
}
.right{
  position: relative;
}
.hoodieImg{
  max-width: 35rem;
  width: 100%;
  min-width: 24rem;
  height: auto;
  position: relative;
  z-index: 2;
}
.bottomHeading{
  border: 1px solid var(--gray);
  padding: .5rem;
  width: 100%;
  color: var(--gray);
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1.125rem;
}
.bottomHeading b{
  color: white;
}
.colorBox{
  display: inline-block;
  width: 20px;
  height: 20px;
  background: var(--primary-color);
}
.logoPattren{
  position: absolute;
  width: 200px;
  height: auto;
  top: 7rem;
  left: -1rem;
  z-index: 1;
}
.dotPattren{
  position: absolute;
  bottom: 5rem;
  right: 0;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(5, 2px);
  grid-template-rows: repeat(5, 2px);
  gap: 1rem;
}
.dotPattren span{
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: white;

}
.quote{
  max-width: fit-content;
  width: 100%;
  margin: 8rem auto;
  /* margin-top: 8rem; */
  position: relative;
  display: flex;
  flex-direction: column;
}
.quote div{
  border: 1px solid var(--gray);
  padding: 2rem 1.5rem;
  color: white;
  width: fit-content;
}
.quote div:nth-child(2){
  padding: 1rem;
  font-size: 1.5rem;
  border-top: none;
  align-self: end;
  position: relative;
}
.comma{
  position: absolute;
  background-color: var(--dark-bg);
  font-size: 5rem;
  font-weight: 600;
  font-family: sans-serif;
  height: 3rem;
  color: var(--gray);
  transform: skewX(10deg);
  user-select: none;
}
.comma1{
  top: -30px;
  left: 2rem;
}
.comma2{
  top: -30px;
  right: 2rem;
  height: 2rem;
}

@media (max-width:1100px) {
  .logoPattren{
    width: 120px;
    left: 0;
  }
}
@media (max-width:1024px) {
  .heroSection{
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    margin-top: 5rem;
  }
  .left{
    gap: 1rem;
  }
  .right{
    align-self: flex-end;
  }
  .hoodieImg{
    max-width: 28rem;
    min-width: 16rem;
  }
  .quote{
    margin-top: 5rem;
  }
}
